.we-are
    padding-top: $sectionPadding + 6px
    padding-bottom: $sectionPadding
    background-color: $accent

    .container
        display: flex
        flex-direction: column
        align-items: center

    &-title
        margin-top: 50px

    &-grid
        list-style: none
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        max-width: 1170px
        width: 100%
        margin-top: 60px
        padding-left: 0
        margin-bottom: 0
        justify-items: center

        &__item
            display: flex
            flex-direction: column
            align-items: center

            &:nth-child(1)
                max-width: 276px
                justify-self: flex-start
                position: relative
                right: 15px

                .we-are-grid__item-text
                    position: relative
                    left: 15px

                .we-are-grid__item-img
                    position: relative
                    top: 10px

            &:nth-child(2)
                max-width: 248px
                position: relative
                top: 1px
                right: 12px

                .we-are-grid__item-text
                    position: relative
                    left: 10px

            &:nth-child(3)
                max-width: 293px
                justify-self: flex-end
                position: relative
                right: 12px

                .we-are-grid__item-text
                    position: relative
                    left: 27px

            &-img
                // width: 85px

                &__wrap
                    height: 85px
                    display: flex
                    align-items: center
                    justify-content: center

            &-title
                color: #fff
                margin-top: 20px
                margin-bottom: 0
                font-weight: 500
                font-size: 24px
                line-height: 135%

            &-text
                color: rgba(0, 0, 0, 0.7)
                margin-bottom: 0
                margin-top: 14px

@media screen and (max-width: 1060px)
    .we-are

        &-grid
            grid-template-columns: 1fr
            grid-row-gap: 30px

            &__item
                justify-self: center !important
                right: 0
                top: 0
                bottom: 0
                left: 0
